  # Challenge

  ## Identifying Outliers using Standard Deviation

In [2]:
# initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [3]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/credit_card_db")

In [4]:
# Import data using the previous SQL view
query = "SELECT * FROM aggregated_table;"
df_data = pd.read_sql(query, engine)
df_data.head()

,id_card_holder,card_holder_name,id_transaction,date,amount,card,id_merchant,merchant_name,id_merchant_category,category
0,1,Robert Johnson,1,2018-04-30 18:50:48,5.62,3517111172421930,42,Kennedy-Chen,3,bar
1,1,Robert Johnson,67,2018-05-05 17:49:05,8.42,3517111172421930,75,Martinez Group,1,restaurant
2,1,Robert Johnson,81,2018-09-09 10:30:47,8.31,3517111172421930,23,"Wilson, Roberts and Davenport",5,food truck
3,1,Robert Johnson,153,2018-05-21 09:19:58,4.57,3517111172421930,12,"Bell, Gonzalez and Lowe",4,pub
4,1,Robert Johnson,163,2018-08-21 16:23:34,1.10,3517111172421930,81,Fowler and Sons,5,food truck

### Remove Outliers Using Normal Distribution and Standard Deviation

This method is simple and intuitive, however, sometimes the devices weren’t 100% accurate and would give very high or very low values.

Our approach is to remove the outlier points by eliminating any points that were above (Mean + 2*SD) and any points below (Mean - 2*SD) before plotting the frequencies. It doen’t have to be 2 though, we can tweak it a little to get a better outlier detection formula for the data. By the way, we're going to use it 2 at this time to eliminate 5% of the values lie out of two standard deviation.

In [81]:
# code a function to identify outliers based on standard deviation
def identifier_by_std(series):
    mean = np.mean(series)
    sd = np.std(series)
    lower = mean - 2*sd
    upper = mean + 2*sd
    result = [x for x in series if((x < lower)|(x > upper))]
    return print(f'outliers = {result}'), print(f'mean is {mean:,.2f} and standard deviation is {sd:,.2f}''\n' f'The normal range is {lower:,.2f} < value < {upper:,.2f}')

In [91]:
# find anomalous transactions for 3 random card holders
# randomly choose 3 ids
a = np.random.randint(26, size=3)
print(a)

[10 12 20]

In [92]:
# get those 3 customers from the datatframe
df_1st = df_data[df_data['id_card_holder'] == a[0]]
df_2nd = df_data[df_data['id_card_holder']== a[1]] 
df_3rd = df_data[df_data['id_card_holder']== a[2]]

In [93]:
series_1st = df_1st['amount']
outlier_1st = identifier_by_std(series_1st)

outliers = [20.71]
mean is 8.92 and standard deviation is 5.68
The normal range is -2.44 < value < 20.28

In [94]:
series_2nd = df_2nd['amount']
outlier_2nd = identifier_by_std(series_2nd)

outliers = [1031.0, 748.0, 852.0, 1108.0, 1123.0, 1102.0, 1075.0, 1530.0, 1678.0, 1802.0, 1592.0]
mean is 74.01 and standard deviation is 282.99
The normal range is -491.97 < value < 639.98

In [95]:
series_3rd = df_3rd['amount']
outlier_3rd = identifier_by_std(series_3rd)

outliers = [23.13, 20.27, 20.56, 21.11, 20.44]
mean is 8.97 and standard deviation is 5.57
The normal range is -2.17 < value < 20.11

  ## Identifying Outliers Using Interquartile Range

The Interquartile Range, or IQR, is calculated as the difference between the 75th and the 25th percentiles of the data and defines the box in a box and whisker plot. We refer to the percentiles as quartiles because the data is divided into four groups via the 25th, 50th and 75th values. The IQR defines the middle 50% of the data, or the body of the data.

The IQR can be used to identify outliers by defining limits on the sample values that are a factor k of the IQR below the 25th percentile or above the 75th percentile. The common value for the factor k is the value 1.5. A factor k of 3 or more can be used to identify values that are extreme outliers or “far outs” when described in the context of box and whisker plots. We are to use the factor k of 3 here.

On a box and whisker plot, these limits are drawn as fences on the whiskers (or the lines) that are drawn from the box. Values that fall outside of these values are drawn as dots. We can calculate the percentiles of a dataset using the percentile() NumPy function that takes the dataset and specification of the desired percentile. The IQR can then be calculated as the difference between the 75th and 25th percentiles.

In [99]:
# code a function to identify outliers based on interquartile range
def iqr_identifier(series):
     q25 = np.percentile(series, 25)
     q75 = np.percentile(series, 75)
     iqr = q75 - q25
     cut_off = iqr * 3 # factor k of 3
     lower = q25 - cut_off
     upper = q75 + cut_off
     result = [x for x in series if((x < lower)|(x > upper))]
     return print(f'outliers = {result}'), print(f'Quartiles: 25th={q25:,.2f}, 75th= {q75:,.2f}, IQR= {iqr:,.2f}')

For comparison, we're going to use the same card holder IDs as in the previous outlier test.

In [100]:
# find anomalous transactions for 3 random card holders
outlier_1st = iqr_identifier(series_1st)

outliers = []
Quartiles: 25th=3.47, 75th= 12.34, IQR= 8.87

In [102]:
outlier_2nd = iqr_identifier(series_2nd)

outliers = [1031.0, 748.0, 852.0, 1108.0, 1123.0, 1102.0, 1075.0, 233.0, 1530.0, 1678.0, 1802.0, 1592.0]
Quartiles: 25th=4.12, 75th= 15.67, IQR= 11.55

In [103]:
outlier_3rd = iqr_identifier(series_3rd)

outliers = []
Quartiles: 25th=3.40, 75th= 11.57, IQR= 8.17